@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;500&display=swap');

.root {
    --background-color: #161924;
    --text-color: #CEF9DE;
    --primary-color: #3DD19C;
    --secondary-color: #135948;
    --secondary-color-low-opacity: #13594830;
    --accent-color: #92DD3B;
    --accent-color-filter: invert(77%) sepia(27%) saturate(985%) hue-rotate(39deg) brightness(96%) contrast(98%);

    background-color: var(--background-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    padding: 20px;

    gap: 50px;
}

p {
    margin: 0px;
    font-family: "Ubuntu";
}

a {
    font-family: "Ubuntu";
    color: var(--primary-color);
}

h1 {
    font-family: "Ubuntu";
    color: var(--text-color);
    margin: 0;
}

h2 {
    font-family: "Ubuntu";
    color: var(--text-color);
    margin: 0;
}

h3 {
    font-family: "Ubuntu";
    color: var(--text-color);
    margin: 0;
}

strong {
    color: var(--accent-color);
}

.projectFrame {
    width: 100%;
    height: 100%;

    border: none;
}
